# Build directory. Ignore everything but dummyfile
build/*
!build/dummyfile

# Kate project
.kateproject.d/
.idea

.vagrant
*.user

# vscode
.vscode/

# ccls files
.ccls-cache/
src/.ccls-cache/
src/compile_commands.json

# python environment and temporary folders
.venv
**/__pycache__/
